@model HsMS.Models.StudentViewModel
@{
    ViewBag.Title = "Create";

}
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<div class="" style="padding-top:16px">
    <form method="POST">

        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" name="Name" class="form-control" id="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="Address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" name="Address" class="form-control" id="Address">
            </div>
        </div>
        <div class="form-group row">
            <label for="AdmissionDate" class="col-sm-2 col-form-label">Admission Date</label>
            <div class="col-sm-10">
                <input type="text" name="AdmissionDate" class="form-control datepicker" id="pickyDate">
            </div>
        </div>
        <div class="form-group row">
            <label for="ClassId" class="col-sm-2 col-form-label">Student Class</label>
            <div class="col-sm-10">
                <select id="ClassId" name="ClassId" title="-- Select Student Cass --" class="form-control selectpicker">

                    @foreach (var studentClass in Model.StudentClasses)

                        {
                            <option value="@studentClass.Id">@studentClass.Name</option>
                        }

                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 "></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#pickyDate').datepicker({
            format: "dd/mm/yyyy"
        });
    });
</script>

